body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  background:rgb(175, 135, 235);
}

.game-container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: blue;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid blue;
}